*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.picture{
  width: 100%;
  height: 200px;
}
.spring{
  background-image: url(./img/box1.jpg);
  background-position: center;
  background-size: cover;
}
.summer{
  background-image: url(./img/box2.jpg);
  background-position: center;
  background-size: cover;
}
.fall{
  background-image: url(./img/box3.jpg);
  background-position: center;
  background-size: cover;
}
.winter{
  background-image: url(./img/box4.jpg);
  background-position: center;
  background-size: cover;
}
