*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main{
  width: 960px;
  margin: 50px auto;
}
.content{
  float: left;
  width: 280px;
  margin: 10px;
}
.image{
  position: absolute;
}
.step{
  background-color: orange;
  color: white;
  width: 50px;
  text-align: center;
  position: absolute;
  top: -10px;
  left: -10px;
}
.flow-image{
  width: 280px;
  position: absolute;
  top: 0;
  left: 0;
}
.content-text{
  position: relative;
  top: 200px;
}
